interactions:
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 09 Dec 2020 23:53:54 GMT
      x-ms-version:
      - '2020-04-08'
    method: PUT
    uri: https://storagename.blob.preprod.core.windows.net/dfdfdggns41b81006?restype=container
  response:
    body:
      string: ''
    headers:
      ETag:
      - '"0x8D89C9DB10C3534"'
      Last-Modified:
      - Wed, 09 Dec 2020 23:53:56 GMT
      x-ms-version:
      - '2020-04-08'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 09 Dec 2020 23:53:58 GMT
      x-ms-properties:
      - ''
      x-ms-version:
      - '2020-06-12'
    method: PUT
    uri: https://storagename.dfs.preprod.core.windows.net/dfdfdggns41b81006/dir1?resource=directory
  response:
    body:
      string: ''
    headers:
      ETag:
      - '"0x8D89C9DB417058E"'
      Last-Modified:
      - Wed, 09 Dec 2020 23:54:01 GMT
      x-ms-version:
      - '2020-06-12'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 09 Dec 2020 23:54:03 GMT
      x-ms-version:
      - '2020-06-12'
    method: DELETE
    uri: https://storagename.dfs.preprod.core.windows.net/dfdfdggns41b81006/dir1?recursive=true
  response:
    body:
      string: ''
    headers:
      x-ms-delete-type-permanent:
      - 'false'
      x-ms-deletion-id:
      - '132520316429750804'
      x-ms-version:
      - '2020-06-12'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 09 Dec 2020 23:54:04 GMT
      x-ms-version:
      - '2020-06-12'
    method: GET
    uri: https://storagename.blob.preprod.core.windows.net/?delimiter=%2F&showonly=deleted&restype=container&comp=list
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>UnsupportedQueryParameter</Code><Message>One
        of the query parameters specified in the request URI is not supported.\nRequestId:896a748b-601e-003b-6786-ce3925000000\nTime:2020-12-09T23:54:04.3617484Z</Message><QueryParameterName>delimiter</QueryParameterName></Error>"
    headers:
      Content-Type:
      - application/xml
      x-ms-error-code:
      - UnsupportedQueryParameter
      x-ms-version:
      - '2020-06-12'
    status:
      code: 400
      message: One of the query parameters specified in the request URI is not supported.
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 09 Dec 2020 23:55:57 GMT
      x-ms-version:
      - '2020-04-08'
    method: PUT
    uri: https://storagename.blob.preprod.core.windows.net/dffdgfdggns41b81006?restype=container
  response:
    body:
      string: ''
    headers:
      ETag:
      - '"0x8D89C9DF9EA6D0C"'
      Last-Modified:
      - Wed, 09 Dec 2020 23:55:58 GMT
      x-ms-version:
      - '2020-04-08'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 09 Dec 2020 23:56:01 GMT
      x-ms-properties:
      - ''
      x-ms-version:
      - '2020-06-12'
    method: PUT
    uri: https://storagename.dfs.preprod.core.windows.net/dffdgfdggns41b81006/dir1?resource=directory
  response:
    body:
      string: ''
    headers:
      ETag:
      - '"0x8D89C9DFC5DBE04"'
      Last-Modified:
      - Wed, 09 Dec 2020 23:56:03 GMT
      x-ms-version:
      - '2020-06-12'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 09 Dec 2020 23:56:04 GMT
      x-ms-version:
      - '2020-06-12'
    method: DELETE
    uri: https://storagename.dfs.preprod.core.windows.net/dffdgfdggns41b81006/dir1?recursive=true
  response:
    body:
      string: ''
    headers:
      x-ms-delete-type-permanent:
      - 'false'
      x-ms-deletion-id:
      - '132520317640062210'
      x-ms-version:
      - '2020-06-12'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 09 Dec 2020 23:56:05 GMT
      x-ms-version:
      - '2020-06-12'
    method: GET
    uri: https://storagename.blob.preprod.core.windows.net/?delimiter=&showonly=deleted&restype=container&comp=list
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>UnsupportedQueryParameter</Code><Message>One
        of the query parameters specified in the request URI is not supported.\nRequestId:21f0e788-001e-002d-5086-cecff2000000\nTime:2020-12-09T23:56:05.4781487Z</Message><QueryParameterName>delimiter</QueryParameterName></Error>"
    headers:
      Content-Type:
      - application/xml
      x-ms-error-code:
      - UnsupportedQueryParameter
      x-ms-version:
      - '2020-06-12'
    status:
      code: 400
      message: One of the query parameters specified in the request URI is not supported.
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 09 Dec 2020 23:57:03 GMT
      x-ms-version:
      - '2020-04-08'
    method: PUT
    uri: https://storagename.blob.preprod.core.windows.net/dffdgfdsdggns41b81006?restype=container
  response:
    body:
      string: ''
    headers:
      ETag:
      - '"0x8D89C9E2130116D"'
      Last-Modified:
      - Wed, 09 Dec 2020 23:57:04 GMT
      x-ms-version:
      - '2020-04-08'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 09 Dec 2020 23:57:06 GMT
      x-ms-properties:
      - ''
      x-ms-version:
      - '2020-06-12'
    method: PUT
    uri: https://storagename.dfs.preprod.core.windows.net/dffdgfdsdggns41b81006/dir1?resource=directory
  response:
    body:
      string: ''
    headers:
      ETag:
      - '"0x8D89C9E23A444AA"'
      Last-Modified:
      - Wed, 09 Dec 2020 23:57:08 GMT
      x-ms-version:
      - '2020-06-12'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 09 Dec 2020 23:57:10 GMT
      x-ms-version:
      - '2020-06-12'
    method: DELETE
    uri: https://storagename.dfs.preprod.core.windows.net/dffdgfdsdggns41b81006/dir1?recursive=true
  response:
    body:
      string: ''
    headers:
      x-ms-delete-type-permanent:
      - 'false'
      x-ms-deletion-id:
      - '132520318302042253'
      x-ms-version:
      - '2020-06-12'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 09 Dec 2020 23:58:26 GMT
      x-ms-version:
      - '2020-04-08'
    method: PUT
    uri: https://storagename.blob.preprod.core.windows.net/dffdgfdsdsdggns41b81006?restype=container
  response:
    body:
      string: ''
    headers:
      ETag:
      - '"0x8D89C9E534762B3"'
      Last-Modified:
      - Wed, 09 Dec 2020 23:58:28 GMT
      x-ms-version:
      - '2020-04-08'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 09 Dec 2020 23:58:30 GMT
      x-ms-properties:
      - ''
      x-ms-version:
      - '2020-06-12'
    method: PUT
    uri: https://storagename.dfs.preprod.core.windows.net/dffdgfdsdsdggns41b81006/dir1?resource=directory
  response:
    body:
      string: ''
    headers:
      ETag:
      - '"0x8D89C9E5526B05B"'
      Last-Modified:
      - Wed, 09 Dec 2020 23:58:32 GMT
      x-ms-version:
      - '2020-06-12'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 09 Dec 2020 23:58:32 GMT
      x-ms-version:
      - '2020-06-12'
    method: DELETE
    uri: https://storagename.dfs.preprod.core.windows.net/dffdgfdsdsdggns41b81006/dir1?recursive=true
  response:
    body:
      string: ''
    headers:
      x-ms-delete-type-permanent:
      - 'false'
      x-ms-deletion-id:
      - '132520319126175094'
      x-ms-version:
      - '2020-06-12'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 09 Dec 2020 23:58:35 GMT
      x-ms-version:
      - '2020-06-12'
    method: GET
    uri: https://storagename.blob.preprod.core.windows.net/?showonly=deleted&restype=container&comp=list
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults
        ServiceEndpoint=\"https://storagename.blob.preprod.core.windows.net/\"><Containers><Container><Name>dfdfdggns41b81006</Name><Properties><Last-Modified>Wed,
        09 Dec 2020 23:53:56 GMT</Last-Modified><Etag>\"0x8D89C9DB10C3534\"</Etag><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><DefaultEncryptionScope>$account-encryption-key</DefaultEncryptionScope><DenyEncryptionScopeOverride>false</DenyEncryptionScopeOverride><HasImmutabilityPolicy>false</HasImmutabilityPolicy><HasLegalHold>false</HasLegalHold></Properties></Container><Container><Name>dffdgfdggns41b81006</Name><Properties><Last-Modified>Wed,
        09 Dec 2020 23:55:58 GMT</Last-Modified><Etag>\"0x8D89C9DF9EA6D0C\"</Etag><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><DefaultEncryptionScope>$account-encryption-key</DefaultEncryptionScope><DenyEncryptionScopeOverride>false</DenyEncryptionScopeOverride><HasImmutabilityPolicy>false</HasImmutabilityPolicy><HasLegalHold>false</HasLegalHold></Prope[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 10 Dec 2020 00:00:01 GMT
      x-ms-version:
      - '2020-04-08'
    method: PUT
    uri: https://storagename.blob.preprod.core.windows.net/dffdgfgfdsdsdggns41b81006?restype=container
  response:
    body:
      string: ''
    headers:
      ETag:
      - '"0x8D89C9E8C1BBC97"'
      Last-Modified:
      - Thu, 10 Dec 2020 00:00:04 GMT
      x-ms-version:
      - '2020-04-08'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 10 Dec 2020 00:00:06 GMT
      x-ms-properties:
      - ''
      x-ms-version:
      - '2020-06-12'
    method: PUT
    uri: https://storagename.dfs.preprod.core.windows.net/dffdgfgfdsdsdggns41b81006/dir1?resource=directory
  response:
    body:
      string: ''
    headers:
      ETag:
      - '"0x8D89C9E8E9FD1C7"'
      Last-Modified:
      - Thu, 10 Dec 2020 00:00:08 GMT
      x-ms-version:
      - '2020-06-12'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 10 Dec 2020 00:00:09 GMT
      x-ms-version:
      - '2020-06-12'
    method: DELETE
    uri: https://storagename.dfs.preprod.core.windows.net/dffdgfgfdsdsdggns41b81006/dir1?recursive=true
  response:
    body:
      string: ''
    headers:
      x-ms-delete-type-permanent:
      - 'false'
      x-ms-deletion-id:
      - '132520320089568366'
      x-ms-version:
      - '2020-06-12'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 10 Dec 2020 00:03:40 GMT
      x-ms-version:
      - '2020-04-08'
    method: PUT
    uri: https://storagename.blob.preprod.core.windows.net/dffdgfgffgdsdsdggns41b81006?restype=container
  response:
    body:
      string: ''
    headers:
      ETag:
      - '"0x8D89C9F14FD830B"'
      Last-Modified:
      - Thu, 10 Dec 2020 00:03:53 GMT
      x-ms-version:
      - '2020-04-08'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 10 Dec 2020 00:03:55 GMT
      x-ms-properties:
      - ''
      x-ms-version:
      - '2020-06-12'
    method: PUT
    uri: https://storagename.dfs.preprod.core.windows.net/dffdgfgffgdsdsdggns41b81006/dir1?resource=directory
  response:
    body:
      string: ''
    headers:
      ETag:
      - '"0x8D89C9F1905E1D7"'
      Last-Modified:
      - Thu, 10 Dec 2020 00:04:00 GMT
      x-ms-version:
      - '2020-06-12'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 10 Dec 2020 00:04:01 GMT
      x-ms-version:
      - '2020-06-12'
    method: DELETE
    uri: https://storagename.dfs.preprod.core.windows.net/dffdgfgffgdsdsdggns41b81006/dir1?recursive=true
  response:
    body:
      string: ''
    headers:
      x-ms-delete-type-permanent:
      - 'false'
      x-ms-deletion-id:
      - '132520322411258591'
      x-ms-version:
      - '2020-06-12'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 10 Dec 2020 00:06:28 GMT
      x-ms-version:
      - '2020-04-08'
    method: PUT
    uri: https://storagename.blob.preprod.core.windows.net/dffdgfgdgffgdsdsdggns41b81006?restype=container
  response:
    body:
      string: ''
    headers:
      ETag:
      - '"0x8D89C9F72966814"'
      Last-Modified:
      - Thu, 10 Dec 2020 00:06:30 GMT
      x-ms-version:
      - '2020-04-08'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 10 Dec 2020 00:06:31 GMT
      x-ms-properties:
      - ''
      x-ms-version:
      - '2020-06-12'
    method: PUT
    uri: https://storagename.dfs.preprod.core.windows.net/dffdgfgdgffgdsdsdggns41b81006/dir1?resource=directory
  response:
    body:
      string: ''
    headers:
      ETag:
      - '"0x8D89C9F73D80B1C"'
      Last-Modified:
      - Thu, 10 Dec 2020 00:06:33 GMT
      x-ms-version:
      - '2020-06-12'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 10 Dec 2020 00:06:33 GMT
      x-ms-version:
      - '2020-06-12'
    method: DELETE
    uri: https://storagename.dfs.preprod.core.windows.net/dffdgfgdgffgdsdsdggns41b81006/dir1?recursive=true
  response:
    body:
      string: ''
    headers:
      x-ms-delete-type-permanent:
      - 'false'
      x-ms-deletion-id:
      - '132520323933439534'
      x-ms-version:
      - '2020-06-12'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 10 Dec 2020 01:41:43 GMT
      x-ms-version:
      - '2020-04-08'
    method: PUT
    uri: https://storagename.blob.preprod.core.windows.net/dffdgfgdfdsdggns41b81006?restype=container
  response:
    body:
      string: ''
    headers:
      ETag:
      - '"0x8D89CACC09C7722"'
      Last-Modified:
      - Thu, 10 Dec 2020 01:41:45 GMT
      x-ms-version:
      - '2020-04-08'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 10 Dec 2020 01:41:46 GMT
      x-ms-properties:
      - ''
      x-ms-version:
      - '2020-06-12'
    method: PUT
    uri: https://storagename.dfs.preprod.core.windows.net/dffdgfgdfdsdggns41b81006/dir1?resource=directory
  response:
    body:
      string: ''
    headers:
      ETag:
      - '"0x8D89CACC29E1602"'
      Last-Modified:
      - Thu, 10 Dec 2020 01:41:48 GMT
      x-ms-version:
      - '2020-06-12'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 10 Dec 2020 01:41:49 GMT
      x-ms-version:
      - '2020-06-12'
    method: DELETE
    uri: https://storagename.dfs.preprod.core.windows.net/dffdgfgdfdsdggns41b81006/dir1?recursive=true
  response:
    body:
      string: ''
    headers:
      x-ms-delete-type-permanent:
      - 'false'
      x-ms-deletion-id:
      - '132520381094025956'
      x-ms-version:
      - '2020-06-12'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 10 Dec 2020 02:07:15 GMT
      x-ms-version:
      - '2020-04-08'
    method: PUT
    uri: https://storagename.blob.preprod.core.windows.net/dffdgfgdfdfdsdggns41b81006?restype=container
  response:
    body:
      string: ''
    headers:
      ETag:
      - '"0x8D89CB050EF682E"'
      Last-Modified:
      - Thu, 10 Dec 2020 02:07:15 GMT
      x-ms-version:
      - '2020-04-08'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 10 Dec 2020 02:07:16 GMT
      x-ms-properties:
      - ''
      x-ms-version:
      - '2020-06-12'
    method: PUT
    uri: https://storagename.dfs.preprod.core.windows.net/dffdgfgdfdfdsdggns41b81006/dir1?resource=directory
  response:
    body:
      string: ''
    headers:
      ETag:
      - '"0x8D89CB051FE627F"'
      Last-Modified:
      - Thu, 10 Dec 2020 02:07:17 GMT
      x-ms-version:
      - '2020-06-12'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 10 Dec 2020 02:07:18 GMT
      x-ms-version:
      - '2020-06-12'
    method: DELETE
    uri: https://storagename.dfs.preprod.core.windows.net/dffdgfgdfdfdsdggns41b81006/dir1?recursive=true
  response:
    body:
      string: ''
    headers:
      x-ms-delete-type-permanent:
      - 'false'
      x-ms-deletion-id:
      - '132520396381099329'
      x-ms-version:
      - '2020-06-12'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 10 Dec 2020 02:19:02 GMT
      x-ms-version:
      - '2020-04-08'
    method: PUT
    uri: https://storagename.blob.preprod.core.windows.net/dffdgfgdfdwvfdfdsdggns41b81006?restype=container
  response:
    body:
      string: ''
    headers:
      ETag:
      - '"0x8D89CB1F728B63B"'
      Last-Modified:
      - Thu, 10 Dec 2020 02:19:04 GMT
      x-ms-version:
      - '2020-04-08'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 10 Dec 2020 02:19:05 GMT
      x-ms-properties:
      - ''
      x-ms-version:
      - '2020-06-12'
    method: PUT
    uri: https://storagename.dfs.preprod.core.windows.net/dffdgfgdfdwvfdfdsdggns41b81006/dir1?resource=directory
  response:
    body:
      string: ''
    headers:
      ETag:
      - '"0x8D89CB1F8BE3DDD"'
      Last-Modified:
      - Thu, 10 Dec 2020 02:19:06 GMT
      x-ms-version:
      - '2020-06-12'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 10 Dec 2020 02:19:07 GMT
      x-ms-version:
      - '2020-06-12'
    method: DELETE
    uri: https://storagename.dfs.preprod.core.windows.net/dffdgfgdfdwvfdfdsdggns41b81006/dir1?recursive=true
  response:
    body:
      string: ''
    headers:
      x-ms-delete-type-permanent:
      - 'false'
      x-ms-deletion-id:
      - '132520403476522328'
      x-ms-version:
      - '2020-06-12'
    status:
      code: 200
      message: OK
[...]
