interactions:
- request:
    body: null
    headers:
      x-ms-date:
      - Mon, 04 Nov 2019 21:51:44 GMT
      x-ms-version:
      - '2019-02-02'
    method: PUT
    uri: https://storagename.blob.core.windows.net/filesystemdb5c0d4c?restype=container
  response:
    body:
      string: ''
    headers:
      ETag:
      - '"0x8D761712F6524CC"'
      Last-Modified:
      - Mon, 04 Nov 2019 21:51:45 GMT
      x-ms-version:
      - '2019-02-02'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-date:
      - Mon, 04 Nov 2019 21:51:45 GMT
      x-ms-properties:
      - ''
      x-ms-version:
      - '2019-02-02'
    method: PUT
    uri: https://storagename.dfs.core.windows.net/filesystemdb5c0d4c/dir10?resource=directory
  response:
    body:
      string: ''
    headers:
      ETag:
      - '"0x8D761712FB159EA"'
      Last-Modified:
      - Mon, 04 Nov 2019 21:51:45 GMT
      x-ms-version:
      - '2019-02-02'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Mon, 04 Nov 2019 21:51:46 GMT
      x-ms-version:
      - '2019-02-02'
    method: GET
    uri: https://storagename.dfs.core.windows.net/filesystemdb5c0d4c?recursive=true&upn=true&resource=filesystem
  response:
    body:
      string: '{"paths":[{"contentLength":"0","etag":"0x8D761712FB159EA","group":"$superuser","isDirectory":"true","lastModified":"Mon,
        04 Nov 2019 21:51:45 GMT","name":"dir10","owner":"$superuser","permissions":"rwxr-x---"},{"contentLength":"0","etag":"0x8D761712FD09856","group":"$superuser","isDirectory":"true","lastModified":"Mon,
        04 Nov 2019 21:51:45 GMT","name":"dir11","owner":"$superuser","permissions":"rwxr-x---"},{"contentLength":"0","etag":"0x8D761712FDD87ED","group":"$superuser","isDirectory":"true","lastModified":"Mon,
        04 Nov 2019 21:51:45 GMT","name":"dir12","owner":"$superuser","permissions":"rwxr-x---"},{"contentLength":"0","etag":"0x8D761712FEA952A","group":"$superuser","isDirectory":"true","lastModified":"Mon,
        04 Nov 2019 21:51:45 GMT","name":"dir13","owner":"$superuser","permissions":"rwxr-x---"},{"contentLength":"0","etag":"0x8D761712FF7895B","group":"$superuser","isDirectory":"true","lastModified":"Mon,
        04 Nov 2019 21:51:46 GMT","name":"dir14","owner":"$superuser","permissions":"rwxr-x---"},{"contentLength":"0","etag":"0x8D7617130049849","group":"$superuser","isDirectory":"true","lastModified":"Mon,
        04 Nov 2019 21:51:46 GMT","name":"dir15","owner":"$superuser","permissions":"rwxr-x---"}]}

        '
    headers:
      Content-Type:
      - application/json;charset=utf-8
      x-ms-version:
      - '2019-02-02'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 09 Dec 2020 01:22:06 GMT
      x-ms-version:
      - '2020-04-08'
    method: PUT
    uri: https://storagename.blob.preprod.core.windows.net/filesystemdb5c0d4c?restype=container
  response:
    body:
      string: ''
    headers:
      ETag:
      - '"0x8D89BE0D82D769A"'
      Last-Modified:
      - Wed, 09 Dec 2020 01:22:07 GMT
      x-ms-version:
      - '2020-04-08'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 09 Dec 2020 01:22:07 GMT
      x-ms-properties:
      - ''
      x-ms-version:
      - '2020-06-12'
    method: PUT
    uri: https://storagename.dfs.preprod.core.windows.net/filesystemdb5c0d4c/dir10?resource=directory
  response:
    body:
      string: '{"error":{"code":"InvalidHeaderValue","message":"The value for one
        of the HTTP headers is not in the correct format.\nRequestId:a2167d98-601f-0002-7bc9-cde805000000\nTime:2020-12-09T01:22:08.2475569Z"}}'
    headers:
      Content-Type:
      - application/json;charset=utf-8
    status:
      code: 400
      message: The value for one of the HTTP headers is not in the correct format.
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 09 Dec 2020 21:07:56 GMT
      x-ms-version:
      - '2020-04-08'
    method: PUT
    uri: https://storagename.blob.preprod.core.windows.net/filesystemdb5c0d4c?restype=container
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>ServerBusy</Code><Message>The
        server is busy.\nRequestId:a7a016e7-c01e-0000-3b6f-ce4ab0000000\nTime:2020-12-09T21:07:56.7397070Z</Message></Error>"
    headers:
      Content-Type:
      - application/xml
      x-ms-error-code:
      - ServerBusy
      x-ms-version:
      - '2020-04-08'
    status:
      code: 503
      message: The server is busy.
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 09 Dec 2020 21:09:19 GMT
      x-ms-version:
      - '2020-04-08'
    method: PUT
    uri: https://storagename.blob.preprod.core.windows.net/filesystemdb5c0d4c?restype=container
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>ServerBusy</Code><Message>The
        server is busy.\nRequestId:a7a0184e-c01e-0000-306f-ce4ab0000000\nTime:2020-12-09T21:09:18.9208402Z</Message></Error>"
    headers:
      Content-Type:
      - application/xml
      x-ms-error-code:
      - ServerBusy
      x-ms-version:
      - '2020-04-08'
    status:
      code: 503
      message: The server is busy.
version: 1
